<div class="contendido-servicios">
    <div class="contenedor" *ngIf="puedeCrearRegistro">
        <div class="carta"  [ngClass]="{'selected': componenteActivo === 'usuario'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroEmpleado()">
                    <mat-icon>perm_identity</mat-icon>
                    <h3>Usuario</h3>
                </div>
            </div>
        </div>
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'equipo'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroEquipo()">
                    <mat-icon>desktop_mac</mat-icon>
                    <h3>Equipo</h3>
                </div>
            </div>
        </div>
        <div class="carta"[ngClass]="{'selected': componenteActivo === 'dispositivo'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroDispositivo()">
                    <mat-icon>phone_android</mat-icon>
                    <h3>Dispositivo</h3>
                </div>
            </div>
        </div>
        
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'impresora'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroImpresora()">
                    <mat-icon>print</mat-icon>
                    <h3>Impresora</h3>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="componenteActivo === 'usuario'">
        <app-opc-empleado></app-opc-empleado> <!-- Llamamos a OpcEmpleadoComponent -->
    </div>

    <div *ngIf="componenteActivo === 'equipo'">
        <app-opc-equipo></app-opc-equipo> <!-- Llamamos a OpcEquipoComponent -->
    </div>

    <div *ngIf="componenteActivo === 'dispositivo'">
        <app-opc-dispositivo></app-opc-dispositivo> <!-- Llamamos a OpcTelefonoComponent -->
    </div>

    <div *ngIf="componenteActivo === 'impresora'">
        <app-opc-impresora></app-opc-impresora> <!-- Llamamos a OpcImpresoraComponent -->
    </div>
</div>