<div class="contenedor-regTelefono">
    <form id="form-registro-telefono">
        <div class="contenido">

            <div class="fila-de-tres">

                <!-----------------------  ----------------------->
                <!------------ IMAGEN DE TELEFONO --------------->
                <!-----------------------  ----------------------->

                <div class="contenedor-imagen">
                    <div class="contenido-img">
                        <img *ngIf="imagenModeloSeleccionado" [src]="imagenModeloSeleccionado" class="imagen-modelo"
                            alt="Imagen modelo">
                        <mat-icon *ngIf="!imagenModeloSeleccionado" class="icono-img-prod"> image</mat-icon>
                        <input type="text" id="archivo-producto" style="display: none;">
                    </div>
                </div>
                <!-----------------------  ----------------------->
                <!------------ OPCIONES DE TELEFONO ------------->
                <!-----------------------  ----------------------->

                <div class="contenido-opcion">
                    <label>TIPO DE DISPOSITIVO<br></label>
                    <select class="opcionForm select" [(ngModel)]="tipoSeleccionado" name="tipo"
                        (change)="onTipoChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let t of tipos" [ngValue]="t">{{ t.descripcion }}</option>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>SERIAL:<br></label>
                    <input class="opcionForm" type="text">
                </div>


                <div class="contenido-opcion">
                    <label>MARCA<br></label>
                    <select class="opcionForm select" [(ngModel)]="marcaSeleccionada" name="marca"
                        (change)="onMarcaChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let m of marcas" [ngValue]="m"> {{ m.descripcion }} </option>
                        <!-- SOLO aparece NUEVA MARCA si hay un tipo seleccionado -->
                        <ng-container *ngIf="tipoSeleccionado">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVA MARCA</option>
                        </ng-container>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>MODELO:<br></label>
                    <select class="opcionForm select" [(ngModel)]="modeloSeleccionado" name="modelo"
                        (change)="onModeloChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let mod of modelos" [ngValue]="mod"> {{ mod.descripcion }} </option>
                        <!-- SOLO aparece NUEVO MODELO si hay tipo Y marca seleccionados -->
                        <ng-container *ngIf="tipoSeleccionado && marcaSeleccionada">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVO MODELO</option>
                        </ng-container>
                    </select>
                </div>


                <div class="contenido-opcion">
                    <label>SISTEMA OPERATIVO<br></label>
                    <select class="opcionForm select" [(ngModel)]="soSeleccionado" name="so" (change)="onSOChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let so of sistemasOperativos" [ngValue]="so">{{ so.descripcion }}</option>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>VERSION S.O.<br></label>
                    <select class="opcionForm select" [(ngModel)]="versionSOSeleccionada" name="versionSO"
                        (change)="onVersionSOChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let v of versionesSO" [ngValue]="v"> {{ v.descripcion }} </option>
                        <!-- SOLO aparece NUEVA VERSION si hay SO seleccionado -->
                        <ng-container *ngIf="soSeleccionado">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVA VERSION</option>
                        </ng-container>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>PULGADAS<br></label>
                    <input class="opcionForm" type="text">
                </div>

                <div class="contenido-opcion">
                    <label>NUMERO DE PLACA<br></label>
                    <input class="opcionForm" type="text">
                </div>

                <div class="contenido-opcion">
                    <label>IMEI 1<br></label>
                    <input class="opcionForm" type="text">
                </div>

                <div class="contenido-opcion">
                    <label>IMEI 2<br></label>
                    <input class="opcionForm" type="text">
                </div>



                <div class="contenido-opcion">
                    <label>MEMORIA RAM<br></label>
                    <div class="input-group">
                        <input class="opcionForm" type="text" [(ngModel)]="tamanoRamMostrar" name="tamanoRam"
                            (input)="formatearRam()" (keydown)="soloNumeros($event)">
                    </div>
                </div>

                <div class="contenido-opcion">
                    <label>ALMACENAMIENTO<br></label>
                    <div class="input-group">
                        <input class="opcionForm" type="text" [(ngModel)]="tamanoAlmacenamientoMostrar"
                            name="tamanoAlmacenamiento" (input)="formatearAlmacenamiento()"
                            (keydown)="soloNumeros($event)">
                    </div>
                </div>

                <div class="contenido-opcion">
                    <label>PROCESADOR<br></label>
                    <input class="opcionForm" type="text">
                </div>

                <div class="contenido-opcion">
                    <label>FACTURA</label><br>
                    <input class="opcionForm" type="text">
                </div>

                <div class="contenido-opcion">
                    <label>FECHA DE COMPRA<br></label>
                    <input class="opcionForm" type="date">
                </div>

                <div class="contenido-opcion">
                    <label>ESTADO<br></label>
                    <select class="opcionForm select">
                        <option value=""></option>
                        <option value="NUEVO"
                            title="El equipo está en perfectas condiciones, puede ser un equipo recién adquirido o recién salido de la fábrica.">
                            NUEVO</option>
                        <option value="BUEN ESTADO"
                            title="El equipo está funcionando correctamente, Es un equipo que todavía cumple su función de manera eficiente.">
                            BUEN ESTADO</option>
                        <option value="ESTADO REGULAR"
                            title="El equipo muestra algunos signos de desgaste o mal uso, pero aún es funcional.">
                            ESTADO REGULAR</option>
                        <option value="ESTADO DEFICIENTE"
                            title="El equipo tiene daños visibles y/o problemas de funcionamiento que afectan su rendimiento.  Es posible que aún funcione, pero no de manera óptima.">
                            ESTADO DEFICIENTE</option>
                        <option value="INOPERATIVO"
                            title="El equipo ya no está operativo debido a fallas graves en el hardware.">INOPERATIVO
                        </option>
                    </select>
                </div>

                <div class="contenido-opcion textarea">
                    <label for="descripcion">DESCRIPCION:<br></label>
                    <textarea> </textarea>
                </div>



                <div>
                    <input type="submit" id="submitInput" value="Enviar">
                    <label for="submitInput" class="bookmark">
                        <mat-icon>bookmark</mat-icon>
                    </label>
                </div>


            </div>
        </div>
    </form>
</div>
<br><br><br>




<!-- Modal para crear Marca -->
<div class="modal" [class.show]="mostrarModalMarca" *ngIf="mostrarModalMarca">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Marca <br>
                    <strong *ngIf="tipoSeleccionado">{{ tipoSeleccionado.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Marca</mat-label>
                <input matInput [(ngModel)]="nuevaMarcaDescripcion" placeholder="Ejemplo: Sansumg, Huawei, Xiaomi"
                    autocomplete="off">
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearMarca()"
                [disabled]="!nuevaMarcaDescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalMarca()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>




<!-- Modal para crear Modelo -->
<div class="modal" [class.show]="mostrarModalModelo" *ngIf="mostrarModalModelo">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Modelo <br>
                    <strong *ngIf="tipoSeleccionado">{{ tipoSeleccionado.descripcion }}</strong>
                    <strong *ngIf="marcaSeleccionada"> - {{ marcaSeleccionada.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Modelo</mat-label>
                <input matInput [(ngModel)]="nuevaModeloDescripcion" placeholder="Ejemplo: Redmi, Galaxy"
                    autocomplete="off">
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearModelo()"
                [disabled]="!nuevaModeloDescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalModelo()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>



<!-- Modal para crear Versión de SO -->
<div class="modal" [class.show]="mostrarModalVersionSO" *ngIf="mostrarModalVersionSO">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nueva Versión de SO <br>
                    <strong *ngIf="soSeleccionado">{{ soSeleccionado.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Versión</mat-label>
                <input matInput [(ngModel)]="nuevaVersionSODescripcion" placeholder="Ejemplo: Kitkat, Lollipop"
                    autocomplete="off">
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearVersionSO()"
                [disabled]="!nuevaVersionSODescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalVersionSO()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>