<div class="contenedor-regTelefono">
    <form id="form-registro-telefono" (ngSubmit)="modoEdicion ? editarDispositivo() : registrarDispositivo()">
        <div class="contenido">

            <div class="fila-de-tres">

                <!-----------------------  ----------------------->
                <!------------ IMAGEN DE TELEFONO --------------->
                <!-----------------------  ----------------------->

                <div class="contenedor-imagen">
                    <div class="contenido-img">
                        <img *ngIf="imagenModeloSeleccionado" [src]="imagenModeloSeleccionado" class="imagen-modelo"
                            alt="Imagen modelo">
                        <mat-icon *ngIf="!imagenModeloSeleccionado" class="icono-img-prod"> image</mat-icon>
                        <input type="text" id="archivo-producto" style="display: none;">
                    </div>
                </div>
                <!-----------------------  ----------------------->
                <!------------ OPCIONES DE TELEFONO ------------->
                <!-----------------------  ----------------------->

                <div class="contenido-opcion">
                    <label>TIPO DE DISPOSITIVO<br></label>
                    <select class="opcionForm select" [(ngModel)]="tipoSeleccionado" name="tipo"
                        (change)="onTipoChange()" [compareWith]="compararPorCodigo" [disabled]="modoEdicion">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let t of tipos" [ngValue]="t">{{ t.descripcion }}</option>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>SERIAL:<br></label>
                    <input class="opcionForm" type="text" [(ngModel)]="serial" name="serial" [disabled]="modoEdicion"
                        (input)="serial = serial.toUpperCase()">
                </div>


                <div class="contenido-opcion">
                    <label>MARCA<br></label>
                    <select class="opcionForm select" [(ngModel)]="marcaSeleccionada" name="marca"
                        (change)="onMarcaChange()" [compareWith]="compararPorCodigo" [disabled]="modoEdicion">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let m of marcas" [ngValue]="m"> {{ m.descripcion }} </option>
                        <!-- SOLO aparece NUEVA MARCA si hay un tipo seleccionado -->
                        <ng-container *ngIf="tipoSeleccionado">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVA MARCA</option>
                        </ng-container>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>MODELO:<br></label>
                    <select class="opcionForm select" [(ngModel)]="modeloSeleccionado" name="modelo"
                        (change)="onModeloChange()" [compareWith]="compararPorCodigo" [disabled]="modoEdicion">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let mod of modelos" [ngValue]="mod"> {{ mod.descripcion }} </option>
                        <!-- SOLO aparece NUEVO MODELO si hay tipo Y marca seleccionados -->
                        <ng-container *ngIf="tipoSeleccionado && marcaSeleccionada">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVO MODELO</option>
                        </ng-container>
                    </select>
                </div>


                <div class="contenido-opcion">
                    <label>SISTEMA OPERATIVO<br></label>
                    <select class="opcionForm select" [(ngModel)]="soSeleccionado" name="so" (change)="onSOChange()"
                        [compareWith]="compararPorCodigo">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let so of sistemasOperativos" [ngValue]="so">{{ so.descripcion }}</option>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>VERSION S.O.<br></label>
                    <select class="opcionForm select" [(ngModel)]="versionSOSeleccionada" name="versionSO"
                        (change)="onVersionSOChange()" [compareWith]="compararPorCodigo">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let v of versionesSO" [ngValue]="v"> {{ v.descripcion }} </option>
                        <!-- SOLO aparece NUEVA VERSION si hay SO seleccionado -->
                        <ng-container *ngIf="soSeleccionado">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVA VERSION</option>
                        </ng-container>
                    </select>
                </div>

                <div class="contenido-opcion">
                    <label>PULGADAS<br></label>
                    <input class="opcionForm" type="text" [(ngModel)]="pulgadas" name="pulgadas"
                        (input)="pulgadas = pulgadas.toUpperCase()">
                </div>

                <div class="contenido-opcion">
                    <label>NUMERO DE PLACA<br></label>
                    <input class="opcionForm" type="text" [(ngModel)]="plaqueta" name="plaqueta"
                        (input)="plaqueta = plaqueta.toUpperCase()">
                </div>

                <div class="contenido-opcion">
                    <label>IMEI 1<br></label>
                    <input class="opcionForm" type="text" [(ngModel)]="imei1" name="imei1"
                        (input)="imei1 = imei1.toUpperCase()">
                </div>

                <div class="contenido-opcion">
                    <label>IMEI 2<br></label>
                    <input class="opcionForm" type="text" [(ngModel)]="imei2" name="imei2"
                        (input)="imei2 = imei2.toUpperCase()">
                </div>



                <div class="contenido-opcion">
                    <label>MEMORIA RAM<br></label>
                    <div class="input-group">
                        <input class="opcionForm" type="text" [(ngModel)]="ram" name="ram" (input)="formatearRam()"
                            (keydown)="soloNumeros($event)">
                    </div>
                </div>

                <div class="contenido-opcion">
                    <label>ALMACENAMIENTO<br></label>
                    <div class="input-group">
                        <input class="opcionForm" type="text" [(ngModel)]="almacenamiento" name="almacenamiento"
                            (input)="formatearAlmacenamiento()" (keydown)="soloNumeros($event)">
                    </div>
                </div>

                <div class="contenido-opcion">
                    <label>PROCESADOR<br></label>
                    <input class="opcionForm" type="text" [(ngModel)]="procesador" name="procesador"
                        (input)="procesador = procesador.toUpperCase()">
                </div>

                <div class="contenido-opcion">
                    <label>FACTURA</label><br>
                    <input class="opcionForm" type="text" [(ngModel)]="facturaCompra" name="facturaCompra">
                </div>

                <div class="contenido-opcion">
                    <label>FECHA DE COMPRA<br></label>
                    <input class="opcionForm" type="date" [(ngModel)]="fechaCompra" name="fechaCompra">
                </div>

                <div class="contenido-opcion">
                    <label>ESTADO<br></label>
                    <select class="opcionForm select" [(ngModel)]="estado" name="estado">
                        <option value=""></option>
                        <option value="BUEN ESTADO"
                            title="El equipo está funcionando correctamente, Es un equipo que todavía cumple su función de manera eficiente.">
                            BUEN ESTADO</option>
                        <option value="ESTADO REGULAR"
                            title="El equipo muestra algunos signos de desgaste o mal uso, pero aún es funcional.">
                            ESTADO REGULAR</option>
                        <option value="ESTADO DEFICIENTE"
                            title="El equipo tiene daños visibles y/o problemas de funcionamiento que afectan su rendimiento.  Es posible que aún funcione, pero no de manera óptima.">
                            ESTADO DEFICIENTE</option>
                        <option value="INOPERATIVO"
                            title="El equipo ya no está operativo debido a fallas graves en el hardware.">INOPERATIVO
                        </option>
                    </select>
                </div>

                <div class="contenido-opcion textarea">
                    <label for="descripcion">DESCRIPCION:<br></label>
                    <textarea [(ngModel)]="descripcion" name="descripcion"
                        (input)="descripcion = descripcion.toUpperCase()"></textarea>
                </div>

                <div class="botones-registroeditar">

                    <!-- Botón Registrar/Actualizar -->
                    <div>
                        <input type="submit" id="checkboxInput" [value]="modoEdicion ? 'Actualizar' : 'Registrar'">
                        <label for="checkboxInput" class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </label>
                    </div>

                    <!-- Botón Editar (solo si tiene permiso) -->
                    <div *ngIf="puedeEditarRegistro && !modoEdicion" (click)="abrirModalBuscarDispositivo()">
                        <input id="checkboxInput2">
                        <label for="checkboxInput2" class="bookmark2">
                            <mat-icon>bookmark</mat-icon>
                        </label>
                    </div>

                    <!-- Botón Limpiar (se oculta en modo edición) -->
                    <div *ngIf="!puedeEditarRegistro || modoEdicion" (click)="limpiarFormularioEditar()">
                        <input id="checkboxInput3">
                        <label for="checkboxInput3" class="bookmark3">
                            <mat-icon>bookmark</mat-icon>
                        </label>
                    </div>


                </div>

            </div>
        </div>
    </form>
</div>
<br><br><br>




<!-- Modal para crear Marca -->
<div class="modal" [class.show]="mostrarModalMarca" *ngIf="mostrarModalMarca">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Marca <br>
                    <strong *ngIf="tipoSeleccionado">{{ tipoSeleccionado.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Marca</mat-label>
                <input matInput [(ngModel)]="nuevaMarcaDescripcion" [matAutocomplete]="autoMarca"
                    (input)="convertirMayusculas()" (input)="filtrarMarcas()"
                    placeholder="Ejemplo: Sansumg, Huawei, Xiaomi" autocomplete="off">

                <mat-autocomplete #autoMarca="matAutocomplete" (optionSelected)="seleccionarMarcaExistente($event)">
                    <!-- Mostrar marcas existentes en este tipo -->
                    <mat-option *ngFor="let marca of marcasFiltradas" [value]="marca.descripcion">
                        <div class="sugerencia-option">
                            <mat-icon>branding_watermark</mat-icon>
                            <span>{{ marca.descripcion }}</span>
                            <small class="ya-existe"> - Ya existe</small>
                        </div>
                    </mat-option>
                    <!-- Mensaje cuando no hay coincidencias -->
                    <mat-option *ngIf="marcasFiltradas.length === 0 && nuevaMarcaDescripcion" disabled>
                        No hay marcas coincidentes. Se creará una nueva.
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearMarca()"
                [disabled]="!nuevaMarcaDescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalMarca()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>




<!-- Modal para crear Modelo -->
<div class="modal" [class.show]="mostrarModalModelo" *ngIf="mostrarModalModelo">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Modelo <br>
                    <strong *ngIf="tipoSeleccionado">{{ tipoSeleccionado.descripcion }}</strong>
                    <strong *ngIf="marcaSeleccionada"> - {{ marcaSeleccionada.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Modelo</mat-label>
                <input matInput [(ngModel)]="nuevaModeloDescripcion" [matAutocomplete]="autoModelo"
                    (input)="convertirMayusculas()" (input)="filtrarModelos()" placeholder="Ejemplo: Redmi, Galaxy"
                    autocomplete="off">

                <!-- Autocompletado para modelos existentes -->
                <mat-autocomplete #autoModelo="matAutocomplete" (optionSelected)="seleccionarModeloExistente($event)">
                    <mat-option *ngFor="let modelo of modelosFiltrados" [value]="modelo.descripcion">
                        {{ modelo.descripcion }}
                        <small class="ya-existe"> - Ya existe</small>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearModelo()"
                [disabled]="!nuevaModeloDescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalModelo()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>



<!-- Modal para crear Versión de SO -->
<div class="modal" [class.show]="mostrarModalVersionSO" *ngIf="mostrarModalVersionSO">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nueva Versión de SO <br>
                    <strong *ngIf="soSeleccionado">{{ soSeleccionado.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Versión</mat-label>
                <input matInput [(ngModel)]="nuevaVersionSODescripcion" [matAutocomplete]="autoVersion"
                    (input)="convertirMayusculas()" (input)="filtrarVersionesSo()"
                    placeholder="Ejemplo: Kitkat, Lollipop" autocomplete="off">

                <!-- Autocompletado para las versiones so existentes -->
                <mat-autocomplete #autoVersion="matAutocomplete"
                    (optionSelected)="seleccionarVersionSOExistente($event)">
                    <mat-option *ngFor="let version of versionesFiltradas" [value]="version.descripcion">
                        {{ version.descripcion }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearVersionSO()"
                [disabled]="!nuevaVersionSODescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalVersionSO()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>





<!-- Modal para buscar dispositivo -->
<div class="modal" [class.show]="mostrarModalBuscarDispositivo" *ngIf="mostrarModalBuscarDispositivo">
  <div class="modal-contenido">
    <div class="modal-cabezera">
      <div class="titulo">
        <h2>
          <mat-icon class="cargoicon">search</mat-icon>
          Buscar Telefono
        </h2>
      </div>
    </div>

    <div class="buscar-contenido">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Buscar Telefono</mat-label>
        <input matInput [(ngModel)]="busquedaDispositivoModal" (input)="buscarDispositivosEnModal()"
          placeholder="Ingrese serial, marca, modelo o imei" autocomplete="off">
        <mat-icon matSuffix>device_unknown</mat-icon>
      </mat-form-field>

      <div class="filtro" [class.con-resultados]="resultadosBusquedaModal.length > 0">
        <!-- Resultados de búsqueda -->
        <div class="resultado-item-modal" *ngFor="let dispositivo of resultadosBusquedaModal"
          (click)="seleccionarDispositivoDelModal(dispositivo)">

          <!-- Imagen a la izquierda -->
          <div class="resultado-imagen">
            <img *ngIf="dispositivo.modelo?.rutaImagen" [src]="imagenDispositivosFiltrados(dispositivo.modelo.rutaImagen)"
              alt="Imagen del modelo" class="imagen-resultado">
            <mat-icon *ngIf="!dispositivo.modelo?.rutaImagen" class="icono-imagen-default">image</mat-icon>
          </div>

          <!-- Contenido a la derecha (apilado verticalmente) -->
          <div class="resultado-info-modal">
            <strong>{{ dispositivo.serial }}</strong>
            <span>{{ dispositivo.marca?.descripcion }} - {{ dispositivo.modelo?.descripcion }}</span>
            <small>{{ dispositivo.tipo?.descripcion }} | {{ dispositivo.estado }}</small>
          </div>

          <!-- Icono de selección -->
          <mat-icon>touch_app</mat-icon>
        </div>
      </div>


      <div class="sin-resultados"
        *ngIf="!buscandoModal && busquedaDispositivoModal.length >= 2 && resultadosBusquedaModal.length === 0">
        <mat-icon>info</mat-icon>
        <p>
          No se encontraron dispositivos con: <br>
          <strong>{{ busquedaDispositivoModal }}</strong>
        </p>
      </div>

      <div class="sin-resultados" *ngIf="busquedaDispositivoModal.length < 2 && busquedaDispositivoModal.length > 0">
        <mat-icon>info</mat-icon>
        <p>Ingrese al menos 2 caracteres para buscar</p>
      </div>
    </div>

    <div class="modal-footer">
      <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalBuscarDispositivo()">
        <mat-icon>cancel</mat-icon> Cancelar
      </button>
    </div>
  </div>
</div>