<div class="acceso">
    <div class="content">
        <div class="text">
            Iniciar Sesión
        </div>
        <form (ngSubmit)="iniciarSesion()">

            <div class="field">
                <input required="" type="text" class="input" [(ngModel)]="usuario" name="usuario">
                <span class="span">
                    <mat-icon>person</mat-icon>
                </span>
                <label class="label">Ingresar Usuario</label>
            </div>

            <div class="field">
                <input required="" [type]="mostrarClave ? 'text' : 'password'" class="input" [(ngModel)]="clave" name="clave">
                <span class="span">
                    <mat-icon>fingerprint</mat-icon>
                </span>
                <label class="label">Ingresar Contraseña</label>
                <button type="button" class="toggle-password" (click)="toggleMostrarClave()">
                    <mat-icon>{{ mostrarClave ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
            
            <button class="button">Acceder</button>
            <div class="registrarse">
                ¿Aún no tienes cuenta?
                <a routerLink="/autenticacion/registro">Registrarme</a>
            </div>
        </form>
    </div>
</div>