<div class="contenedor-regImpresora">
    <form id="form-registro-impresora">
        <div class="contenido">

            <div class="fila-de-tres">

                <!-----------------------  ----------------------->
                <!------------ IMAGEN DE IMPRESORA --------------->
                <!-----------------------  ----------------------->

                <div class="contenedor-imagen">
                    <div class="contenido-img">
                        <img *ngIf="imagenModeloSeleccionado" [src]="imagenModeloSeleccionado" class="imagen-modelo"
                            alt="Imagen modelo">
                        <mat-icon *ngIf="!imagenModeloSeleccionado" class="icono-img-prod">image</mat-icon>
                        <input type="text" id="archivo-producto" style="display: none;">
                    </div>
                </div>
                <!-----------------------  ----------------------->
                <!------------ OPCIONES DE IMPRESORA ------------->
                <!-----------------------  ----------------------->

                <div class="contenido-opcion">
                    <label>PROPIEDAD</label><br>
                    <select class="opcionForm select">
                        <option value=""></option>
                        <option value="FLORES SAGARO">FLORES SAGARO</option>
                        <option value="NEW SERVICE">NEW SERVICE</option>
                    </select>
                </div>


                <div class="contenido-opcion">
                    <label>TIPO DE IMPRESORA</label><br>
                    <select class="opcionForm select" [(ngModel)]="tipoSeleccionado" name="tipo"
                        (change)="onTipoChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let t of tipos" [ngValue]="t">{{ t.descripcion }}</option>
                    </select>
                </div>


                <!-----------------------  ----------------------->
                <!-- OPCIONES DE MARCAS SEGUN EL TIPO DE IMPRESORA -->
                <!-----------------------  ----------------------->


                <div class="contenido-opcion">
                    <label>MARCA</label><br>

                    <select class="opcionForm select" [(ngModel)]="marcaSeleccionada" name="marca"
                        (change)="onMarcaChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let m of marcas" [ngValue]="m">{{ m.descripcion }}</option>
                        <!-- SOLO aparece NUEVA MARCA si hay un tipo seleccionado -->
                        <ng-container *ngIf="tipoSeleccionado">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVA MARCA</option>
                        </ng-container>
                    </select>
                </div>


                <!-----------------------  ----------------------->
                <!------- OPCIONES DE MODELO SEGUN SU MARCA ------>
                <!-----------------------  ----------------------->

                <div class="contenido-opcion">
                    <label>MODELO:</label><br>

                    <select class="opcionForm select" [(ngModel)]="modeloSeleccionado" name="modelo"
                        (change)="onModeloChange()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let mod of modelos" [ngValue]="mod">{{ mod.descripcion }}</option>
                        <!-- SOLO aparece NUEVO MODELO si hay tipo Y marca seleccionados -->
                        <ng-container *ngIf="tipoSeleccionado && marcaSeleccionada">
                            <option [value]="-1" [disabled]="true">─────────────────</option>
                            <option value="new">NUEVO MODELO</option>
                        </ng-container>
                    </select>
                </div>


                <div class="contenido-opcion">
                    <label>SERIAL:</label><br>
                    <input class="opcionForm" type="text">
                </div>


                <div class="contenido-opcion">
                    <label>NUMERO DE PLACA</label><br>
                    <input class="opcionForm" type="text">
                </div>

                <!-----------------------  ----------------------->
                <!---------------- TIPO DE TINTA ----------------->
                <!-----------------------  ----------------------->

                <div class="contenido-opcion">
                    <label>TIPO RECARGA<br></label>
                    <select class="opcionForm select" [(ngModel)]="tipoRecarga" name="tipoRecarga">

                        <!-- Opción por defecto siempre visible -->
                        <option value=""></option>

                        <!-- INYECCION DE TINTA (tipo 8) -->
                        <ng-container *ngIf="tipoSeleccionado?.codigo === 8">
                            <option value="T504">T504</option>
                            <option value="T544">T544</option>
                            <option value="T664">T664</option>
                        </ng-container>

                        <!-- LASER (tipo 9) -->
                        <ng-container *ngIf="tipoSeleccionado?.codigo === 9">
                            <option value="TONER">TONER</option>
                        </ng-container>

                        <!-- ESCANER (tipo 10) -->
                        <ng-container *ngIf="tipoSeleccionado?.codigo === 10">
                            <option value="NO APLICA">NO APLICA</option>
                        </ng-container>

                        <!-- MATRIX (tipo 11) -->
                        <ng-container *ngIf="tipoSeleccionado?.codigo === 11">
                            <option value="CINTA">CINTA</option>
                        </ng-container>

                        <!-- ETIQUETA (tipo 12) -->
                        <ng-container *ngIf="tipoSeleccionado?.codigo === 12">
                            <option value="CABEZAL">CABEZAL</option>
                        </ng-container>

                    </select>
                </div>

                <!-----------------------  ----------------------->
                <!-------------------- SAGARO  ------------------->
                <!-----------------------  ----------------------->



                <div class="contenido-opcion">
                    <label>FACTURA</label><br>
                    <input class="opcionForm" type="text">
                </div>

                <div class="contenido-opcion">
                    <label>FECHA DE COMPRA</label><br>
                    <input class="opcionForm" type="date">
                </div>

                <div class="contenido-opcion">
                    <label>ESTADO</label><br>
                    <select class="opcionForm select">
                        <option value=""></option>
                        <option value="NUEVO"
                            title="El equipo está en perfectas condiciones, puede ser un equipo recién adquirido o recién salido de la fábrica.">
                            NUEVO</option>
                        <option value="BUEN ESTADO"
                            title="El equipo está funcionando correctamente, Es un equipo que todavía cumple su función de manera eficiente.">
                            BUEN ESTADO</option>
                        <option value="ESTADO REGULAR"
                            title="El equipo muestra algunos signos de desgaste o mal uso, pero aún es funcional.">
                            ESTADO REGULAR</option>
                        <option value="ESTADO DEFICIENTE"
                            title="El equipo tiene daños visibles y/o problemas de funcionamiento que afectan su rendimiento.  Es posible que aún funcione, pero no de manera óptima.">
                            ESTADO DEFICIENTE</option>
                        <option value="INOPERATIVO"
                            title="El equipo ya no está operativo debido a fallas graves en el hardware.">INOPERATIVO
                        </option>
                    </select>
                </div>

                <div class="contenido-opcion textarea">
                    <label for="descripcion">DESCRIPCION:</label><br>
                    <textarea> </textarea>
                </div>



                <div>
                    <input type="submit" id="submitInput" value="Enviar">
                    <label for="submitInput" class="bookmark">
                        <mat-icon>bookmark</mat-icon>
                    </label>
                </div>


            </div>
        </div>
    </form>
</div>
<br><br><br>









<!-- Modal para crear Marca -->
<div class="modal" [class.show]="mostrarModalMarca" *ngIf="mostrarModalMarca">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Marca <br>
                    <strong *ngIf="tipoSeleccionado">{{ tipoSeleccionado.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Marca</mat-label>
                <input matInput [(ngModel)]="nuevaMarcaDescripcion" placeholder="Ejemplo: Epson, Kyocera, Canon"
                    autocomplete="off">
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearMarca()"
                [disabled]="!nuevaMarcaDescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalMarca()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>




<!-- Modal para crear Modelo -->
<div class="modal" [class.show]="mostrarModalModelo" *ngIf="mostrarModalModelo">
    <div class="modal-contenido">
        <div class="modal-cabezera">
            <div class="titulo">
                <h2>
                    <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Modelo <br>
                    <strong *ngIf="tipoSeleccionado">{{ tipoSeleccionado.descripcion }}</strong>
                    <strong *ngIf="marcaSeleccionada"> - {{ marcaSeleccionada.descripcion }}</strong>
                </h2>
            </div>
        </div>

        <div class="crear">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Modelo</mat-label>
                <input matInput [(ngModel)]="nuevaModeloDescripcion" placeholder="Ejemplo: L3210, 3250"
                    autocomplete="off">
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearModelo()"
                [disabled]="!nuevaModeloDescripcion.trim()">
                <mat-icon>done_all</mat-icon> Crear
            </button>
            <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalModelo()">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>
</div>