<div class="contenedor-regUsuario">
  <form id="form-registro-producto" (ngSubmit)="modoEdicion ? editar() : registrar()">
    <div class="contenido">

      <!-- Nueva fila con 3 columnas -->
      <div class="fila-de-tres">
        <p>
          <label>CEDULA</label>
          <input class="opcionForm" type="text" [(ngModel)]="empleado.cedula" name="cedula" required
            [disabled]="modoEdicion">
        </p>
        <p>
          <label>FECHA DE INGRESO</label>
          <input class="opcionForm" type="date" [(ngModel)]="empleado.fechaIngreso" name="fechaIngreso" required>
        </p>
        <p>
          <label>NOMBRE</label>
          <input class="opcionForm" type="text" [(ngModel)]="empleado.nombre" name="nombre"
            (input)="empleado.nombre = empleado.nombre.toUpperCase()" required>
        </p>
        <p>
          <label>APELLIDO</label>
          <input class="opcionForm" type="text" [(ngModel)]="empleado.apellido" name="apellido"
            (input)="empleado.apellido = empleado.apellido.toUpperCase()" required>
        </p>
        <p>
          <label>AREA</label>
          <select class="opcionForm select" [(ngModel)]="empleado.areaCodigo" name="areaCodigo"
            (change)="onAreaChange($event)">
            <option [value]=""></option>
            <option *ngFor="let area of areas" [value]="area.codigo">{{ area.descripcion }}</option>
            <option [value]="-1" [disabled]="true">─────────────────</option>
            <option value="new"> Nueva Area</option>
          </select>
        </p>
        <p>
          <label>CARGO</label>
          <select class="opcionForm select" [(ngModel)]="empleado.cargoCodigo" name="cargoCodigo"
            (change)="onCargoChange($event)">
            <option [value]=""></option>
            <option *ngFor="let cargo of cargos" [value]="cargo.codigo">{{ cargo.descripcion }}</option>
            <!-- Mostrar la opción de nuevo cargo SOLO si hay un área seleccionada -->
            <ng-container *ngIf="empleado.areaCodigo && empleado.areaCodigo !== 0">
              <option [value]="-1" [disabled]="true">─────────────────</option>
              <option value="new">Nuevo Cargo</option>
            </ng-container>
          </select>
        </p>

        <p class="checkbox-wrapper-10">
          <label>ESTADO</label>
          <!-- Checkbox deshabilitado y siempre marcado (el backend asigna activo=true) -->
          <input type="checkbox" id="cb5" class="tgl tgl-flip" checked disabled>
          <label for="cb5" data-tg-on="ACTIVO" data-tg-off="INACTIVO" class="tgl-btn"></label>
        </p>
      </div>

      <div class="botones-registroeditar">


        <!-- Botón Registrar/Actualizar -->
        <div>
          <input type="submit" id="checkboxInput" [value]="modoEdicion ? 'Actualizar' : 'Registrar'">
          <label for="checkboxInput" class="bookmark">
            <mat-icon>bookmark</mat-icon>
          </label>
        </div>

        <!-- Botón Buscar (se oculta en modo edición) -->
        <div *ngIf="!modoEdicion">
          <input id="checkboxInput2" (click)="abrirModalBuscarCedula()">
          <label for="checkboxInput2" class="bookmark2">
            <mat-icon>bookmark</mat-icon>
          </label>
        </div>

        <!-- Botón Buscar (se oculta en modo edición) -->
        <div *ngIf="modoEdicion" (click)="limpiarFormularioEditar()">
          <input id="checkboxInput3">
          <label for="checkboxInput3" class="bookmark3">
            <mat-icon>bookmark</mat-icon>
          </label>
        </div>

      </div>

    </div>
  </form>
</div>
<br><br><br><br>



<!-- Modal para crear Area -->
<div class="modal" [class.show]="mostrarModalArea" *ngIf="mostrarModalArea">
  <div class="modal-contenido">
    <div class="modal-cabezera">
      <div class="titulo">
        <mat-icon>select_all</mat-icon>
        <h2>Crear Area</h2>
      </div>
    </div>

    <div class="crear">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva Area</mat-label>
        <input matInput [(ngModel)]="nuevaAreaDescripcion" [matAutocomplete]="autoArea" (input)="filtrarAreas()"
          placeholder="Ejemplo: Archivo, Compras" autocomplete="off">

        <mat-autocomplete #autoArea="matAutocomplete" (optionSelected)="seleccionarAreaExistente($event)">
          <mat-option *ngFor="let area of areasFiltradas" [value]="area.descripcion">
            <div class="sugerencia-option">
              <mat-icon>assignment</mat-icon>
              <span>{{ area.descripcion }}</span>
              <small class="ya-existe"> - Ya existe</small>
            </div>
          </mat-option>
          <mat-option *ngIf="areasFiltradas.length === 0 && nuevaAreaDescripcion" disabled>
            No hay áreas coincidentes. Se creará una nueva.
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
    </div>

    <div class="modal-footer">
      <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="crearArea()">
        <mat-icon>done_all</mat-icon> Crear
      </button>
      <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalArea()">
        <mat-icon>cancel</mat-icon> Cancelar
      </button>
    </div>
  </div>
</div>





<!-- Modal para crear Cargo -->
<div class="modal" [class.show]="mostrarModalCargo" *ngIf="mostrarModalCargo">
  <div class="modal-contenido">
    <div class="modal-cabezera">
      <div class="titulo">
        <h2>
          <mat-icon class="cargoicon">select_all</mat-icon> Nuevo Cargo <br>
          <strong>{{ obtenerNombreArea() }}</strong>
        </h2>
      </div>
    </div>

    <div class="crear">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Seleccione un cargo</mat-label>
        <mat-select [(ngModel)]="cargoSeleccionadoId" name="cargoSeleccionado">
          <mat-select-trigger>
            {{ obtenerNombreCargoSeleccionado() }}
          </mat-select-trigger>
          <mat-option *ngFor="let cargo of todosLosCargos" [value]="cargo.codigo">
            <div class="sugerencia-option">
              <mat-icon>work</mat-icon>
              <span>{{ cargo.descripcion }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="modal-footer">
      <button mat-raised-button type="button" class="btn-guardar" color="primary" (click)="asignarCargoSeleccionado()"
        [disabled]="!cargoSeleccionadoId">
        <mat-icon>done_all</mat-icon> Asignar
      </button>
      <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalCargo()">
        <mat-icon>cancel</mat-icon> Cancelar
      </button>
    </div>
  </div>
</div>





<!-- Modal para buscar cédula -->
<div class="modal" [class.show]="mostrarModalBuscarCedula" *ngIf="mostrarModalBuscarCedula">
  <div class="modal-contenido">
    <div class="modal-cabezera">
      <div class="titulo">
        <h2>
          <mat-icon class="cargoicon">search</mat-icon>
          Buscar Empleado
        </h2>
      </div>
    </div>

    <div class="buscar-contenido">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Buscar Empleado</mat-label>
        <input matInput [(ngModel)]="busquedaCedulaModal" (input)="buscarEmpleadosEnModal()" placeholder="Ingrese cedula, nombre o apellido"
          autocomplete="off">
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>

      <!-- Resultados de búsqueda -->
      <div class="resultados-modal" *ngIf="resultadosBusquedaModal.length > 0">
        <div class="resultado-item-modal" *ngFor="let empleado of resultadosBusquedaModal"
          (click)="seleccionarEmpleadoDelModal( empleado)">
          <div class="resultado-info-modal">
            <strong>{{ empleado.cedula }}</strong><br>
            <span>{{ empleado.nombre }} {{ empleado.apellido }}</span><br>
            <small>{{ empleado.area?.descripcion }} - {{ empleado.cargo?.descripcion }}</small>
          </div>
          <mat-icon>touch_app</mat-icon>
        </div>
      </div>


      <!-- Sin resultados -->
      <div class="sin-resultados"
        *ngIf="!buscandoModal && busquedaCedulaModal.length >= 2 && resultadosBusquedaModal.length === 0">
        <mat-icon>info</mat-icon>
        <p>
          No se encontraron empleados con cedula: <br>
          {{ busquedaCedulaModal }}
        </p>
      </div>


      <!-- Mensaje para menos de 2 dígitos -->
      <div class="sin-resultados" *ngIf="busquedaCedulaModal.length < 2 && busquedaCedulaModal.length > 0">
        <mat-icon>info</mat-icon>
        <p>Ingrese al menos 2 dígitos para buscar</p>
      </div>
    </div>

    <div class="modal-footer">
      <button mat-button type="button" class="btn-cancelar" (click)="cerrarModalBuscarCedula()">
        <mat-icon>cancel</mat-icon> Cancelar
      </button>
    </div>
  </div>
</div>