<div class="contenido-menu">
    <div class="perfil-item">
        <div class="perfil-contenedor">
            <div class="perfil-icono">
                <img src="menu/icon.jpg" alt="Perfil">
            </div>
            <div class="perfil-info">
                <span class="perfil-nombre">Nombre Usuario</span>
                <div class="perfil-opciones">
                    <mat-icon matTooltip="Perfil" [routerLink]="['/autenticacion/perfil']"> person_pin</mat-icon>
                    <mat-icon (click)="confirmarCierreSesion()" matTooltip="Cerrar sesión">exit_to_app</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <ul>
            <li>
                <a [routerLink]="['#']" routerLinkActive="activa">
                    <span class="icon">
                        <mat-icon>public</mat-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/usuarios']" routerLinkActive="activa">
                    <span class="icon">
                        <mat-icon>people</mat-icon>
                    </span>
                    <span class="title" routerLinkActive="activa">Usuarios</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/equipos']" routerLinkActive="activa">
                    <span class="icon">
                        <mat-icon>desktop_mac</mat-icon>
                    </span>
                    <span class="title" routerLinkActive="activa">Equipos</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/dispositivos']" routerLinkActive="activa">
                    <span class="icon">
                        <mat-icon>smartphone</mat-icon>
                    </span>
                    <span class="title" routerLinkActive="activa">Dispositivos</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/impresoras']" routerLinkActive="activa">
                    <span class="icon">
                        <mat-icon> local_printshop</mat-icon>
                    </span>
                    <span class="title" routerLinkActive="activa">Impresora</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['#']" routerLinkActive="activa">
                    <span class="icon">
                        <mat-icon>donut_small</mat-icon>
                    </span>
                    <span class="title" routerLinkActive="activa">Mantenimiento</span>
                </a>
            </li>
            
            
            <br>
        </ul>
    </div>
</div>


<!-- Modal de Confirmación -->
<div class="mostrar-modal" *ngIf="mostrarModal">
    <div class="modal">
        <h2>¿Estás seguro?</h2><br>
        <div class="modal-botones">
            <button class="cancel-button" (click)="cancelarCierreSesion()">Cancelar</button>
            <button class="confirm-button" (click)="cerrarSesion()">Cerrar Sesion</button>
        </div>
    </div>
</div>